In [1]:
#import libraries
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#import csv files
df_train = pd.read_csv(r"C:\Users\Galvin\Desktop\Kaggle Titanic\train.csv")
df_test = pd.read_csv(r"C:\Users\Galvin\Desktop\Kaggle Titanic\test.csv")

In [3]:
#fill blank cells with mean values
df_train.fillna(df_train.mean(), inplace=True)
df_test.fillna(df_test.mean(), inplace=True)

In [4]:
#drop irrelevant columns
df_train.drop(columns=['Cabin'], inplace=True)
df_test.drop(columns=['Cabin'], inplace=True)
df_train.drop(columns=['PassengerId','Name','Ticket'], inplace=True)
df_test.drop(columns=['Name','Ticket'], inplace=True)

In [5]:
#fill blank cells with mode values
df_train['Embarked'].fillna('S', inplace=True)
df_test['Embarked'].fillna('S', inplace=True)

In [6]:
#check completeness of dataframe
df_train.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [7]:
#check completeness of dataframe
df_test.isna().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [8]:
#map categorical features into integers
df_train['Sex'] = df_train['Sex'].map({'male':1, 'female':0}).astype(int)
df_train['Embarked'] = df_train['Embarked'].map({'S':2, 'Q':1, 'C':0}).astype(int)
df_test['Sex'] = df_test['Sex'].map({'male':1, 'female':0}).astype(int)
df_test['Embarked'] = df_test['Embarked'].map({'S':2, 'Q':1, 'C':0}).astype(int)

In [9]:
#check correlation of variables
df_train.corr(method='pearson')

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
Survived,1.000000,-0.338481,-0.543351,-0.069809,-0.035322,0.081629,0.257307,-0.167675
Pclass,-0.338481,1.000000,0.131900,-0.331339,0.083081,0.018443,-0.549500,0.162098
Sex,-0.543351,0.131900,1.000000,0.084153,-0.114631,-0.245489,-0.182333,0.108262
Age,-0.069809,-0.331339,0.084153,1.000000,-0.232625,-0.179191,0.091566,-0.026749
SibSp,-0.035322,0.083081,-0.114631,-0.232625,1.000000,0.414838,0.159651,0.068230
Parch,0.081629,0.018443,-0.245489,-0.179191,0.414838,1.000000,0.216225,0.039798
Fare,0.257307,-0.549500,-0.182333,0.091566,0.159651,0.216225,1.000000,-0.224719
Embarked,-0.167675,0.162098,0.108262,-0.026749,0.068230,0.039798,-0.224719,1.000000

In [10]:
#drop variables with low correlation
x_train = df_train.drop(columns=['Survived', 'Age', 'SibSp', 'Parch'])
y_train = df_train['Survived']
x_test = df_test.drop(columns=['PassengerId', 'Age', 'SibSp', 'Parch'])
x_train.shape, y_train.shape, x_test.shape

((891, 4), (891,), (418, 4))

In [11]:
#train model and evaluate accuracy
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_test)
acc_log = logreg.score(x_train, y_train)
acc_log

C:\Users\Galvin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7811447811447811

In [12]:
#train model and evaluate accuracy
linsvc = LinearSVC()
linsvc.fit(x_train, y_train)
y_pred1 = linsvc.predict(x_test)
acc_svc = linsvc.score(x_train, y_train)
acc_svc

C:\Users\Galvin\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.7867564534231201

In [13]:
#train model and evaluate accuracy
dectree = DecisionTreeClassifier()
dectree.fit(x_train, y_train)
y_pred2 = dectree.predict(x_test)
acc_dectree = dectree.score(x_train, y_train)
acc_dectree

0.9090909090909091

In [14]:
#train model and evaluate accuracy
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
y_pred3 = knn.predict(x_test)
acc_knn = knn.score(x_train, y_train)
acc_knn

0.8338945005611672

In [15]:
#create prediction dataframe
submission = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': y_pred2})
submission

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [16]:
#export dataframe as csv file
submission.to_csv(r"C:\Users\Galvin\Desktop\submission.csv", index=False)